form {
  margin: 0 50%;
}

.reset-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_error,
.signup-bar {
  color: red;
  text-align: center;
}

label,
#login_submit,
.login_p,
#signup_submit,
.w-100 {
  color: whitesmoke;
}

.login_main,
.signup_main,
.login-form-container {
  height: 100vh;
  margin: 300px 0;
}

.login_main p,
.signup_main p,
.login-form-container p,
.update_profile p {
  text-align: center;
  margin: 0 0 2rem 0;
}

.input-group {
  margin: 0 0 16px 0;
  justify-content: center;
}

.signup_label {
  min-width: 200px;
  text-align: center;
}

#signup_submit,
#login_submit {
  margin: 0 -40px 20px;
  min-width: 100px;
}

.sub-but {
  margin: 0 -40px 20px;
  min-width: 140px;
  padding: 9px;
}

.login_p {
  text-align: center;
  margin: auto;
}

input {
  padding: 5px;
  width: fit-content;
  color: black;
}

.reset-form button {
  margin-top: 15px;
}
.signup-bar {
  margin: 10px 0;
}
.update-form * {
  display: block;
  margin: 5px;
  padding: 3px;
}
.update-form button {
  margin-top: 10px;
}

.update_profile {
  margin: 5rem 0 0 0;
}
